/* Code syntax theme */
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 0.875rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.6;
  tab-size: 2;
  hyphens: none;
}

/* Dark theme */
.dark code[class*="language-"],
.dark pre[class*="language-"],
.dark pre code {
  color: #fafafa;
}

.dark {
  --token-comment: #71717a;
  --token-function: #34d399;
  --token-keyword: #f0abfc;
  --token-string: #fbbf24;
  --token-variable: #93c5fd;
  --token-number: #fb923c;
  --token-operator: #a1a1aa;
  --token-punctuation: #a1a1aa;
  --token-tag: #f87171;
}

/* Light theme */
:root code[class*="language-"],
:root pre[class*="language-"],
pre code {
  color: #27272a;
}

:root {
  --token-comment: #a1a1aa;
  --token-function: #059669;
  --token-keyword: #9333ea;
  --token-string: #b45309;
  --token-variable: #2563eb;
  --token-number: #c2410c;
  --token-operator: #52525b;
  --token-punctuation: #71717a;
  --token-tag: #dc2626;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--token-comment);
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: var(--token-number);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: var(--token-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.punctuation {
  color: var(--token-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--token-keyword);
  font-weight: bold;
}

.token.function,
.token.class-name {
  color: var(--token-function);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--token-variable);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* Override prose styling on code blocks */
.prose pre code,
.prose pre {
  color: inherit;
}
.prose pre {
  background-color: #f4f4f5;
}
.dark .prose pre {
  background-color: #18181b;
}
.dark .prose pre code {
  color: #fafafa;
}
